@using HabitTracker.Components.Services;
@using HabitTracker.Components.Models;

@inject HabitService habitService
@inject NavigationManager Navigation
@page "/"
@rendermode InteractiveServer

<PageTitle>Habit Tracker</PageTitle>

<div>
    <h1>Welcome to your personal habit tracker</h1>
</div>

<div>
    <h2>Daily Habits</h2>
</div>
<div>
    @foreach (var h in habits)
    {
        @if (@h.IsDone == false)
        {
            <HabitCard Id="@h.Id"
                       Name="@h.Name"
                       IsDone="@h.IsDone"
                       OnEdit="EditHabit"
                       OnDelete="DeleteHabit"
                       OnIsDoneChanged="HandleIsDoneChanged"
                       @key="@h.Id" />
        }
    }
</div>
<div class="habit-addbutton">
    <button type="button" class="btn btn-outline-primary p-2" @onclick="NavigateToCreateComponent">Add Habit</button>
</div>

<div>
    @if (habits.Any(h => h.IsDone))
    {
        <h2>Habits Completed Today</h2>
    }
</div>

<div>

    @foreach (var h in habits)
    {
        @if (@h.IsDone == true)
        {
            <HabitCard Id="@h.Id"
                       Name="@h.Name"
                       IsDone="@h.IsDone"
                       OnEdit="EditHabit"
                       OnDelete="DeleteHabit"
                       @key="@h.Id" />
        }

    }
</div>

@code {
    private List<Habit> habits = new List<Habit>();

    private DateTime? lastResetDate = null;

    protected override async Task OnInitializedAsync()
    {
        await FetchHabits();

        var lastReset = await habitService.GetLastResetDateAsync();
        lastResetDate = lastReset?.Date;

        if (lastResetDate == null || lastResetDate.Value.Date != DateTime.UtcNow.Date)
        {
            await ResetHabitsForNewDay();
        }

    }

    private async Task FetchHabits()
    {
        habits = await habitService.GetAllHabitsAsync();
        StateHasChanged();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await FetchHabits();
        }
    }

    private void NavigateToCreateComponent() => Navigation.NavigateTo("/create");

    private async Task DeleteHabit(int id)
    {
        await habitService.DeleteHabitAsync(id);
        await FetchHabits();
    }

    private void EditHabit(int id) => Navigation.NavigateTo($"/edit/{id}");


    private async Task HandleIsDoneChanged((int id, bool newIsDone) habitData)
    {
        var habitToUpdate = habits.FirstOrDefault(h => h.Id == habitData.id);

        if (habitToUpdate != null)
        {
            habitToUpdate.IsDone = habitData.newIsDone;
            await habitService.EditHabitAsync(habitToUpdate, habitToUpdate.Id);
            await FetchHabits();
        }
    }

    private async Task ResetHabitsForNewDay()
    {
        foreach (var habit in habits)
        {
            habit.IsDone = false;
            await habitService.EditHabitAsync(habit, habit.Id);
        }

        var lastReset = new LastResetDate { Date = DateTime.UtcNow };
        await habitService.SaveLastResetDateAsync(lastReset);

        Console.WriteLine("Habits reset for a new day!");
        StateHasChanged();
    }

}